@model Escuela.Models.ViewModels.Tbl_CourseViewModel
@{
    ViewBag.Title = "ControlCourse";
}

<div class="container-fluid form-group" style="width:max-content; padding:2em 1em;margin-top:2em;border:1px solid gray; border-radius:14px; background-color:white;">
    @using (Html.BeginForm("ControlCourse", "Course", FormMethod.Post))
    {
        <h4>REGISTRO DE ESTUDIANTES</h4> <br />


        if (@ViewBag.id == 0)
        {
            <label asp-for="courseId" hidden></label>
            <input asp-for="courseId" type="number" class="form-control" value="0" hidden readonly/> <br />
        }
        else
        {
            <label asp-for="courseId"></label><br />
            <input asp-for="courseId" type="number" class="form-control" value="@Model.courseId" readonly/> <br /><br />
        }


        @Html.LabelFor(n => n.title)<br />
        @Html.TextBoxFor(n => n.title, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.title) <br /><br />

        @Html.LabelFor(e => e.credits)<br />
        @Html.TextBoxFor(e => e.credits, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(e => e.credits) <br /><br />



        <input type="submit" name="name" value="Guardar" class="btn btn-outline-success" style="width:100%;" />
    }
</div>

