@model List<Escuela.Dominio.Tbl_Student>
@{
    ViewData["Title"] = "Details";
}
<style type="text/css">
    .contenedor {
        margin-top: 3em;
        padding: 1.5em 1em;
        border: 1px solid gainsboro;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        top: 3em;
        bottom: 2em;
        margin-bottom: 3em;
        flex-direction: column;
    }
    .btn-success {
        width: max-content !important;
        float:right;
    }
    h3 {
        position: initial;
        text-align: center;
    }
    button a{
        color:white;
        height:30px !important;
    }
</style>
<div class="container contenedor">
    <h3>Control de Estudiantes</h3>
    <div>
        <button class="btn btn-success" type="button" style="float:right;">
        @Html.ActionLink("Agregar", "ControlStudent", "Student", new { interruptor=0 })
        </button>
    </div>
    <table id="TableStudent" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>LAST NAME</th>
                <th>FIRST MID NAME</th>
                <th>DATE</th>
                <th style="text-align:center;">ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <th>@i.studendId</th>
                <th>@i.lastName</th>
                <th>@i.firstMidName</th>
                <th>@i.enrollmentsDate.ToShortDateString()</th>
                <th style="text-align:center;">
                    <button class="btn btn-warning" type="button">@Html.ActionLink("Actualizar", "ControlStudent", "Student", new { id = i.studendId, interruptor = 1 })</button>
                    <button class="btn btn-danger" type="button">@Html.ActionLink("Eliminar", "DeleteStudent", "Student", new { id = i.studendId })</button>
                    <button class="btn btn-success" style="float:initial;" type="button">@Html.ActionLink("Inscribir", "ControlEnrollment", "Enrollment", new { id = i.studendId, interruptor = 2 })</button>
                </th>
            </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var tabla = $('#TableStudent').DataTable()
        })
    </script>
}
